textblob
aws-requests-auth
boto3==1.37.18
requests
pillow  
yfinance 
pandas 
frozendict
frozendict
strands-agents>=0.1.0
strands-agents-tools>=0.1.0
opensearch-py
botocore
awscli
retrying
ragas>=0.1.9,<0.2.0
ipywidgets
iprogress
s3fs
pypdf
tqdm
pandas
haystack-ai
events
pydub

